#main {
    height: calc(100vh - 2em) !important;
}

.mainContainer {
    height: 100% !important;
}

#productsContainer {
    background-color: rgba(17, 38, 38, 0.7);
}

#ordersContainer {
    background-color: rgba(57, 41, 1, 0.7);
}

#productsContainer, #ordersContainer {
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#productsContainer img, #ordersContainer img {
    /*Don't blur at the edges: https://stackoverflow.com/questions/12224320/defined-edges-with-css3-filter-blur*/
    height: 50vw;
    filter: blur(.3em);
    flex-shrink: 0;
    position: absolute;
    top: -10vw;
    left: -10%;
    z-index: -1;
}


h1, h2 {
    color: white;
    margin-bottom: 0;
}

h1 {
    font-size: min(5vmin, 3rem);
}

h2 {
    font-size: min(4vmin,2rem);
    color: #e3e3e3;
}

.statistics {
    margin-top: 5vh;
    margin-left: 2vw;
}

.fancyButton {
    position: absolute;
    width: min(20vmin,10rem);
    height: min(8vmin,4rem);
    display: inline-block;
    color: white;
    cursor: pointer;
    font-weight: bold;
    line-height: min(8vmin,4rem);
    vertical-align: center;
    font-size: min(5vmin,2rem);
    border: 3px solid black;
    transform: skewX(-10deg);
    right: 5vw;
    bottom: 5vh;
    text-align: center;
    padding-right: 10px;
}
